<link rel="stylesheet" href="~/css/about.css" />
<div class="row about">
    @*<div class="col-lg-4 col-md-4 col-sm-12">
        <img src="~/img/me.jpg" class="img-fluid">
    </div>*@
    <div class="col-lg-8 col-md-8 col-sm-12 desc">

        <h3>Abdelrahman El Kinani</h3>
        <p>
            I'm an enthusiastic .NET developer with extensive experience in many fields. I interned at <b>Microsoft Egypt</b> two times and have been a <b>Microsoft Student Partner</b> for two years. also, a computer science graduate.
            <br />
            <b>I develop for:</b><br />
            UWP/Xamarin/ASP.NET Core.
            <br />
            <b>Experience and knowledge in:</b><br />
            Python, IoT, ML, Computer Vision, DS & Algorithms, Software Engineering methodologies, I also speak at technical events.
        </p>
    </div>
</div>