<link rel="stylesheet" href="~/css/main.css" />
    <header class="header">
        <div class="overlay">
            <div class="container">
                <div class="description ">
                    <h1>
                        Hello there!
                        <p>
                            My name is Abdelrahman El Kinani, .NET software developer, IoT enthusiast and I have this happit of hijacking computer vision into everything.
                        </p>
                        <a asp-controller="Home" asp-action="About"><button class="btn btn-outline-dark">See more</button></a>
</h1>
                </div>
            </div>
        </div>
    </header>
