<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/imagelist.css" />
<div class="row about">

    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <div class="row">
            <h3 class="col">IConfess</h3>
            <a href="https://github.com/Kinani/IConfessX" target="_blank">GitHub<i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
            <br />
            <b>Description and purpose:</b><br />
            "Confessions" application made as platform for people to help them say what they want anonymously with upvote/downvote capability. implemented as a submission for the MSP'17 4Days-Xam-Challange.
            <br />
            <b>Technologies used:</b><br />
            Xamarin Forms, Azure app serivices as a backend, SQLite for offline data persistance.
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="imageslist">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/4.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/5.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/6.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/7.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/1.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/2.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/3.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/confessions/8.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>