<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/imagelist.css" />
<div class="row about">

    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <div class="row">
            <h3 class="col">DX Events</h3>
            <a href="https://github.com/Kinani/EventsClient" target="_blank">GitHub<i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
            <br />
            <b>Description and purpose:</b><br />
            The application was responsible of managing the Microsot Egypt DX team events from initiating the event details time/date to notifying subscribed audience, it operates as link between the organizers and the audience.
            <br />
            <b>Technologies used:</b><br />
            Uiversal Windows Platform, Azure app serivices as a backend, SQLite for offline data persistance.
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="imageslist">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/DxEvents/1.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/DxEvents/2.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/DxEvents/3.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>