<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/imagelist.css" />
<div class="row about">

    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <div class="row">
            <h3 class="col">FanarCore</h3>
            <a href="https://github.com/Kinani/FanarCore" target="_blank">GitHub<i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
            <br />
            <b>Description and purpose:</b><br />
            Core computer vision service for the Fanar soloution. Fanar is a work on progress to help in connecting lost/kidnapped people. Working as a prototype right now.
            <br />
            <b>Technologies used:</b><br />
            OpenCV, Postgres DB, Django for hosting making it available as REST service.
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="imageslist">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/FanarCore/1.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/FanarCore/2.png" class="img-fluid">
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/DxEvents/3.png" class="img-fluid">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>