<link rel="stylesheet" href="~/css/projs.css" />
<div class="projs">
    <div class="container">
        <h1 class="text-center">Projects</h1>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/projects/SQ88/2.png" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">SQ88</h4>
                        <p class="card-text">
                            An end to end solution to run the local army buffet operations. made during my service in army.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Projects" asp-action="SQ88" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/projects/FanarCore/fanar.jpg" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">FanarCore</h4>
                        <p class="card-text">
                            Core computer vision service for the Fanar soloution. Fanar is a work on progress to help in connecting lost/kidnapped people. Working as a prototype right now.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Projects" asp-action="FanarCore" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/projects/DxEvents/2.png" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">DX Events</h4>
                        <p class="card-text">
                            An application developed during my internship in Microsoft Egypt DX team, which manages their events operations.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Projects" asp-action="DXEvents" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/projects/Timelineme/2.png" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Timeline Me</h4>
                        <p class="card-text">

                            Adding computer vision to your Gallery! Basically it creates a time-lapse video applying emotion detection to induce emotion-to-time charts
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Projects" asp-action="Time" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/projects/confessions/3.png" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">IConfess</h4>
                        <p class="card-text">

                            Xamarin.Forms "Confessions" application implemented as a submission for the MSP'17 4Days-Xam-Challange.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Projects" asp-action="Confess" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>