<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/imagelist.css" />
<div class="row about">
    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <div class="row">
            <h3 class="col">SQ88 Buffet</h3>
            <a href="https://github.com/Kinani/sq88buffet" target="_blank">GitHub<i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
            <b>Technologies used:</b><br />
            Xamarin Forms, Syncfusion for Word files manipulation, SQLite for offline data persistance.
            <br />
            <b>Description and purpose:</b><br />
            An end to end solution to run the local army buffet operations. made during my service in army.<br />
            <ul>
                <li>CRUD products/personnel</li>
                <li>Total managment of the purchase process</li>
                <li>Generating reports with bills</li>
            </ul>

        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="imageslist">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/1.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/2.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/4.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/5.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/6.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/7.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/SQ88/8.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>