<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/imagelist.css" />
<div class="row about">

    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <div class="row">
            <h3 class="col">Timeline Me</h3>
            <a href="https://github.com/Kinani/TimelineMe">GitHub<i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
            <br />
            <b>Description and purpose:</b><br />
            Adding computer vision to your Gallery! Basically it creates a time-lapse video applying emotion detection to induce emotion-to-time charts.
            <br />
            <b>Technologies used:</b><br />
            Uiversal Windows Platform,  Microsoft Cognitive Services Emotion API, SQLite for offline data persistance.
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="imageslist">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/Timelineme/1.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/Timelineme/2.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/Timelineme/3.png" class="img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgdiv">
                        <img src="~/img/projects/Timelineme/4.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>