.overlay {
    position: absolute;
    min-height: 20%;
    min-width: 100%;
    left: 0;
    top: 0;
    /*background: rgba(244, 244, 244, 0.79);*/
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

    .description h1 {
        color: #10828C;
    }

    .description p {
        color: #666;
        font-size: 20px;
        /*width: 50%;*/
        line-height: 1.5;
    }

    .description button {
        border: 1px solid #10828C;
        /*background: #F97300;*/
        color: #10828C;
    }

@media (max-width: 576px) {
    .header h1 p {
        font-size: 0.5em;
        /*width: auto;*/
        line-height: normal;
    }

}
