.projs {
    margin: 4em 0;
    position: relative;
}

    .projs h1 {
        color: #10828C;
        margin: 2em;
    }


    .projs .card img {
        width: 100%;
        height: 12em;
    }

    .projs .card-title {
        color: #10828C;
    }

    .projs .card-body {
        padding: 1em;
    }
