body, html {
    height: 100%;
}

@media (min-width: 768px) {
    aside {
        height: 100%;
    }
    .cvnavitem{
        display: none;
    }
}

* {
    border-radius: 0 !important;
}

@media (max-width: 768px){
    .cvbutton{
        display: none;
    }
}

.cvbutton{
    margin:50px 0 0 0;
}

