<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdelrahman El Kinani</title>
    <base target="_self">
    <meta name="description" content="Abdelrahman El Kinani personal website" />
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="/img/ext.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-light fixed-top">
                <nav class="navbar navbar-expand navbar-dark bg-light flex-md-column flex-row align-items-start py-2">
                    <div class="collapse navbar-collapse align-items-start">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0 text-nowrap" asp-controller="Home" asp-action="Index"> <span class="font-weight-bold text-dark">Kinani</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw text-dark"></i><span class="d-none d-md-inline text-dark"> Main</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Projects" asp-action="Index"><i class="fa fa-code fa-fw text-dark"></i> <span class="d-none d-md-inline text-dark"> Projects</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="https://kinani95.wordpress.com" target="_blank"><i class="fa fa-pencil fa-fw text-dark"></i> <span class="d-none d-md-inline text-dark"> Blog</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="About"><i class="fa fa-user fa-fw text-dark"></i> <span class="d-none d-md-inline text-dark"> About</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-controller="Home" asp-action="Contact"><i class="fa fa-paper-plane fa-fw text-dark"></i> <span class="d-none d-md-inline text-dark"> Contact</span></a>
                            </li>
                            <li class="nav-item row">
                                <a asp-controller="Home" asp-action="DownloadCV" target="_blank"><button class="btn btn-outline-dark  cvbutton">Download CV</button></a>
                                <a class="nav-link pl-0 cvnavitem" asp-controller="Home" asp-action="DownloadCV" target="_blank"><i class="fa fa-file-text fa-fw text-dark"></i> <span class="d-none d-md-inline text-dark"> Download CV</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col offset-md-2 bg-faded py-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
